.nav-link:hover {
  color: var(--red) !important;
}

.nav-text {
  color: var(--black) !important;
}

.hero-bg {
  padding: 34px 0;
  background-color: var(--black);
  color: white;
}

.h-image {
  transition: transform 0.3s;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  border: 2px solid white;
  z-index: 10;
}

.h-image:hover {
  transform: scale(1.05);
  background-color: rgba(190, 190, 190, 0.225);
  z-index: 10;
}

.hero-medsos {
  background-color: white;
  padding: 6px;
  margin: 32px 8px 0px 8px;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 8;
}

.hero-medsos:hover:nth-child(1) {
  background-color: #171515;
  transform: scale(1.2);
}

.hero-medsos:hover:nth-child(2) {
  background-color: #0072b1;
  transform: scale(1.2);
}

.hero-medsos:hover:nth-child(3) {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  transform: scale(1.2);
}

.hero-medsos:hover:nth-child(4) {
  background-color: #25d366;
  transform: scale(1.2);
}

.button-name > span {
  padding: 8px 16px;
  background-color: #c8c8c848;
  border-radius: 34px;
  color: var(--red);
  font-weight: 600;
}

.description {
  text-align: justify;
  color: rgb(86, 86, 86);
}

.c-button {
  width: fit-content;
}

.skill-icon,
.skill-icon2 {
  background-color: var(--black);
  padding: 16px;
  margin: 8px;
  border-radius: 12px;
  cursor: pointer;
}

.s-title {
  font-size: 8px;
  color: white;
}

.skill-icon:hover:nth-child(1) {
  background-color: #e34c26;
}

.skill-icon:hover:nth-child(2) {
  background-color: #264de4;
}

.skill-icon:hover:nth-child(3) {
  background-color: #f0db4f;
}

.skill-icon:hover:nth-child(4) {
  background-color: #6e10f4;
}

.skill-icon:hover:nth-child(5) {
  background-color: #61dbfb;
}

.skill-icon2:hover:nth-child(1) {
  background: linear-gradient(#ff4d12, #b659ff);
}

.skill-icon2:hover:nth-child(2) {
  background-color: #21759b;
}

.skill-icon2:hover:nth-child(3) {
  background-color: #171515;
}

.skill-icon2:hover:nth-child(4) {
  background-color: #31a8ff;
}

.skill-icon2:hover:nth-child(5) {
  background-color: #ea7600;
}

/* .tabs-hover:hover {
  color: var(--black) !important;
} */

.nav-pills .nav-item {
  margin: 0 12px;
}

.nav-pills .nav-item .nav-link {
  color: var(--black);
  border-radius: 20px;
}

.nav-pills .nav-item .nav-link.active {
  color: white;
  background-color: var(--red);
  border-radius: 20px;
}

.nav-pills .nav-item .nav-link.active:hover {
  color: var(--black) !important;
}

.single-content {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px !important;
}

.image-content {
  border-radius: 10px !important;
}

.single-content .text-content,
.single-content::after {
  position: absolute;
  left: 10px;
  right: 10px;
}

.single-content::after {
  content: "";
  display: block;
  background: var(--red);
  top: 10px;
  bottom: 10px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: 0.4s;
  border-radius: 8px;
}

.single-content:hover::after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}

.text-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
  color: white;
}

.single-content:hover .text-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: 0.2s;
}
