:root {
  --red: #ff0000;
  --black: #21243d;
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: var(--red);
}

.button:hover {
  background: white;
  cursor: pointer;
  color: var(--red);
  border: 1px solid var(--red);
}
