@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../src/assets/fonts/Poppins-Regular.ttf");
}

* {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 16px;
}

body {
  margin: 0;
}
